.contacts {
  color: #f5eddc;
  font-weight: 700;
  line-height: 2;
  padding: 150px 50px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__telegram{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    &_cop{
      color: rgba(255, 255, 255, 0.397);
    }
  }
  &__email {
    display: flex;
    gap: 15px;


    a {
      color: rgb(8, 211, 150);
      text-transform: uppercase;
      text-decoration: none;
    }

    @media (max-width: 820px){
      flex-direction: column;
    }
  }

  @media (max-width: 860px){
  padding:90px 20px;

  }
  @media (max-width: 340px){
  font-size: 12px;
    }
}
