@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25%,
    75% {
        transform: translateX(-5px);
        // transform: translateY(-5px);
    }
    50% {
        transform: translateX(5px);
        // transform: translateY(5px);
    }
}
@mixin flex {
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}

@mixin buttons {
    position: absolute;
    top: 0px;
    @include flex();
    align-items: center;
    width: 50px;
    height: calc(100% - 150px);
    min-height: 50%;
    transition: all 1s ease;

    background-color: rgba(20, 201, 156, 0);
    border: none;

    font-size: 30px;
    color: rgba(245, 245, 220, 0.548);

    &:hover {
        font-size: 35px;
        cursor: pointer;
    }
}

.paint {
    &__title {
        display: flex;
        align-items: center;

        margin: 20px auto;
        & img {
            width: 60px;
            &:hover {
                transform: scale(1.5);
                animation: shake 2s ease-in-out infinite;
            }
        }
    }
    &__text {
        padding: 20px;
        font-size: 1.2rem;
        line-height: 2;
    }
    // imgs
    &__teilImages {
        @include flex();
        flex-direction: column;

        width: 100%;
    }

    &__span {
        width: 20px;
        height: 20px;
    }
}
