@mixin flex {
    display: flex;
    //   flex-direction: row;
    justify-content: center;
    transition: all 1s ease;
}

@mixin buttons {
    position: absolute;
    top: 0px;
    @include flex();
    align-items: center;
    width: 50px;
    height: calc(100% - 150px);
    min-height: 50%;
    //   padding: 160px;
    transition: all 1s ease;

    background-color: rgba(20, 201, 156, 0);
    border: none;

    font-size: 30px;
    color: rgba(245, 245, 220, 0.548);

    &:hover {
        // background-color: rgba(86, 126, 116, 0.315);
        font-size: 35px;
        cursor: pointer;
    }
}

.paint {
    
    &__teilImages {
        border: 3px solid rgb(108, 160, 31);
        @include flex();
        flex-direction: column;
        // align-items: center;
    // padding: 50px 0;

    height: 1000px;

        width: 100%;
        max-width: 1500px;

        // position: relative;
    }
    // ==container w big image
    // buttons
    &__prewBtn {
        @include buttons();
        left: 0;
        padding: 20px 190px 20px 20px;
    }
    &__nextBtn {
        @include buttons();
        right: 0;
        padding: 20px 20px 20px 190px;
    }

    &__mainImage {
        // border: 3px solid rgb(108, 160, 31);
        height: 780px;

        @include flex();
        align-items: center;
        justify-content: center;

        transition: all 1s ease;
        position: relative;

        &_img {
            // max-height: 100%;
            //   width: 80%;
            height: 100%;
            //   border: 3px solid greenyellow;
            & img {
                max-width: 100%;
                max-height: 100%;

                transition: all 1s ease;
                object-fit: contain;
            }
        }
    }
    //   ==container w small images


}
.small_container{
    display: flex;
    border: 5px solid rgb(50, 47, 255);
}
.small_wrapper {
    margin: 50px auto;
    width: 600px;
    height: 120px;
    overflow: hidden;
    position: relative;
    border: 3px solid rgb(255, 123, 47);

    &_all {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 0;
        // left: 0;
        transition: all 1s ease;

    }

    &__img {
        // width: 100%;
        max-height: 120px;

        width: 60px;
        object-fit: cover;
        transition: all 1s ease;
        &:hover{
            width: 120px;
        }
    }
}
.btn_left, .btn_right{
    width: 50px;
    border: none;
    // padding: 50px;
    cursor: pointer;
}
.btn_left{
    transform: scaleX(-1);
}

