.modal {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    &__button {
        position: fixed;
        top: 0px;
        width: 100px;
        height: 100%;
        background: transparent;
        color: beige;
        font-size: 30px;
        border: none;

        &_left {
            left: 0;
        }
        &_right {
            right: 0;
        }
    }
    &__image {
        width: 100%;
        object-fit: cover;

    }
}
