.container {
    position: relative;
    width: 20px;
    height: 5px;
    display: flex;
    justify-content: space-between;
}
@mixin circle {
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.circle {
    @include circle();
    width: 4px;
    height: 4px;
    background-color: #199274;
}
.circle_about_me {
    @include circle();
    width: 5px;
    height: 5px;
    background-color: #199274;
}
.circle:nth-child(1),
.circle_about_me:nth-child(1) {
    animation-name: fadeInOut1;
}

.circle:nth-child(2),
.circle_about_me:nth-child(2) {
    animation-name: fadeInOut2;
}

.circle:nth-child(3),
.circle_about_me:nth-child(3) {
    animation-name: fadeInOut3;
}

@keyframes fadeInOut1 {
    0%,
    10% {
        opacity: 0;
        transform: scale(0);
    }
    20%,
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeInOut2 {
    0%,
    40% {
        opacity: 0;
        transform: scale(0);
    }
    50%,
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeInOut3 {
    0%,
    70% {
        opacity: 0;
        transform: scale(0);
    }
    80%,
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
