
.polymer{

    &__title{
        display: flex;
        align-items: center;
            flex-wrap: wrap;
        // margin: 0 30px;
        // & p {
        //     font-style: 25px ;
        // }
    }
}