$main_text_color: #f5eddc;
$mainBackgroundColor: #021319;
$backgroundHell: #ffe4c4d7;
@keyframes moveGoat {
  from {
    left: 0px;
    bottom: 0px;
    transform: scaleX(1);
  }
  to {
    left: 0px;
    bottom: 50px;
    transform: scaleX(1);
  }
}

.project {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 150px 50px 300px;
  color: $main_text_color;
  background-color: $mainBackgroundColor;

  &__step_back {
    display: flex;
    justify-content:  flex-start;
    color: #ffe4c473;
    max-width: 150px;
    border: none;
    padding: 15px 15px 15px 0;
    font-size: 20px;
    transition: all 0.5s ease;
    &:hover {
      font-size: 25px;
      padding: 12px 12px 12px 0;

      color: $main_text_color;
    }
  }
  &__background_hell,
  h3,
  li,
  ul {
    background-color: transparent;
  }
  &__head {
    font-weight: 400;
    display: flex;
    align-items: end;
    gap: 20px;
  }
  //
  &__description {
    &_comment {
      font-style: italic;
    }
    display: flex;
    align-items: start;
    gap: 50px;
    &_text {
      color: $main_text_color;
    }
    &_img {
      max-width: 100px;
    }
  }
  //======= name of project
  //======= __title_static when is_jumping_image: false,
  &__title_static {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    justify-content:  flex-start;
    gap: 30px;
  }
  &__title {
    position: relative;
    &_text {
      text-transform: uppercase;
      font-size: 60px;
    }
    &_container {
      top: -45px;
      left: 385px;
      width: 50px;
      position: absolute;
    }

    &_img,
    &_img_jumping {
      width: 50px;
    }
    &_img_jumping {
      position: relative;
      animation-name: moveGoat;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      z-index: 0;
    }
  }

  &__specification {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 20px;
    line-height: 1.5;
    padding: 30px 50px;

    background-color: $backgroundHell;
    color: black;
  }
  &__stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-color: $main_text_color;
    background-color: transparent;
    &_list {
      display: flex;
    }
  }
  //
  &__links {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &_title {
      width: 100%;
      height: 50px;
      color: aliceblue;
      text-align: center;
      font-size: 30px;
      background-color: transparent;
    }
    &_cont {
      position: relative;

      width: 250px;
      overflow: hidden;
      text-decoration: none;

      transition: 0.5s ease;
      display: flex;
      flex-direction: column;
      align-items: center;

      border-radius: 5px;
      z-index: 1;
    }
    &_cont:hover {
      filter: blur(5px);
      width: 350px;
      padding: 20px;
      filter: blur(0);
      z-index: 2;
      background-color: #2d3133b6;
    }
    &_img {
      width: 250px;
      transition: all 1s ease;
    }
    &_img:hover {
      width: 260px;
    }
  }
}
//==== block problem description
.problem {
  display: flex;
  flex-direction: column;
  background-color: #2d3133b6;

  &__problem,
  &__solution {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px 50px;
  }
  &__problem {
    font-size: 16px;
  }

  &__title {
    font-weight: 500;
    font-size: 25px;
  }
  &__text {
    line-height: 1.5;
    font-size: 20px;
  }
  @media (max-width: 690px) {
    &__text {
      font-size: 1rem;
    }
    &__problem,
    &__solution {
      padding: 20px 15px;
    }
  }
  @media (max-width: 430px) {
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 12px;
    }
    &__problem,
    &__solution {
      padding: 20px 15px;
    }
  }
}

@media (max-width: 1220px) {
  .project {
    &__title {
      &_text {
        font-size: 50px;
      }
      &_container {
        left: 305px;
      }
    }

    &__stack {
      flex-direction: column;
    }
    //
    &__links {
      &_title {
        font-size: 25px;
      }
    }
  }
}
@media (max-width: 1170px) {
  .project {
    &__links {
      &_cont {
        width: 200px;
      }
    }
  }
}
@media (max-width: 820px) {
  .project {
    padding: 120px 20px 900px;

    &__head {
      font-size: 1em;
      font-weight: 300;
    }
    &__step_back {
      display: none;
    }
    //

    &__title {
      text-align: end;
      &_text {
        font-size: 40px;
      }
      &_container {
        left: 340px;
        top: -50px;
      }
    }

    //
    &__links {
      flex-wrap: wrap;
      justify-content: center;

      &_cont {
        width: 250px;
      }
    }
  }
}
@media (max-width: 690px) {
  .project {
    //======= name of project
    //======= __title_static when is_jumping_image: false,

    &__title {
      text-align: end;
      &_text {
        font-size: 40px;
      }
      &_container {
        left: 320px;
      }
    }

    &__specification {
      font-size: 1rem;
      padding: 15px 25px;
    }

    //
    &__links {
      flex-wrap: wrap;
      justify-content: center;

      &_cont {
        width: 250px;
      }
    }
  }
}
@media (max-width: 630px) {
  .project {
    gap: 18px;

    //======= name of project
    //======= __title_static when is_jumping_image: false,

    &__title {
      &_container {
        left: 260px;
        // top: -35px;
      }
    }

    //
  }
}
@media (max-width: 430px) {
  .project {
    &__description {
      &_comment {
        font-size: 14px;
      }
    }
    //======= name of project
    //======= __title_static when is_jumping_image: false,
    &__title_static {
    }
    &__title {
      &_text {
        padding: 20px 0 0;
        font-size: 20px;
      }
      &_container {
        left: 230px;
        top: 0px;
        transform: scaleX(1);
        width: 20px;
      }

      &_img {
        width: 20px;
      }
      &_img_jumping {
        width: 20px;
      }
    }

    &__specification {
      font-size: 12px;
    }
  }
}
